body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Para distribuir uniformemente los contenedores */
}

/* Estilos del recuadro de texto */
.text-box {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 0 calc(33.33% - 40px); /* Cambiamos 'width' por 'flex' y usamos unidades flexibles */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho del elemento */
}

.text-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* Media query para ajustar el tamaño de los contenedores en pantallas más pequeñas */
@media screen and (max-width: 1024px) {
    .text-box {
        flex: 1 0 100%; /* Ocupa el 100% del ancho en pantallas menores a 1024px (tablets y móviles) */
        margin: 10px 0; /* Espacio entre los recuadros en dispositivos más pequeños */
    }
}