/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Para distribuir uniformemente los contenedores */
}

/* Estilos del recuadro de texto */
.text-box {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 0 calc(33.33% - 40px); /* Cambiamos 'width' por 'flex' y usamos unidades flexibles */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho del elemento */
}


.text-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* Media query para ajustar el tamaño de los contenedores en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .text-box {
        width: calc(50% - 40px); /* En pantallas más pequeñas, los contenedores ocuparán el 50% del ancho del contenedor principal */
    }
}

@media screen and (max-width: 480px) {
    .text-box {
        width: calc(100% - 40px); /* En pantallas muy pequeñas, los contenedores ocuparán el 100% del ancho del contenedor principal */
    }
}
