body {
    background-color: #f4f4f4;
    font-family:  'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 5px solid #333;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    position: relative;
    z-index: 1;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ff6f61;
}


.SideBar {
    width: 250px;
    background-color: #f4f4f4;
    margin-top: 5%;
    padding-top: 2%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 60px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.5;
}

/* Media query para ajustar el sidebar en pantallas pequeñas */
@media screen and (max-width: 768px) {
    .SideBar {
        width: 100%; 
        top: auto; /* Quitar la posición fija en la parte superior */
        bottom: 0; /* Alinear el sidebar en la parte inferior */
        z-index: 1; /* Asegurar que el sidebar esté encima del contenido central */
    }
}

.container {
    padding: 20px;
    text-align: center;
}

.container img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-top: 5px solid #ff6f61;
    position: fixed;
    width: 100%;
    bottom: 0;
}
